<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hamryt.helparty.mapper.MateBoardMapper">

  <resultMap id="getMateResultMap"
    type="com.hamryt.helparty.dto.board.mateboard.response.GetMateBoardResponse">
    <result property="id" column="id"/>
    <result property="userName" column="user_name"/>
    <result property="userAddress" column="user_address"/>
    <result property="gym" column="gym"/>
    <result property="content" column="content"/>
    <result property="startTime" column="start_time"/>
    <result property="endTime" column="end_time"/>
    <result property="createdAt" column="created_at"/>
    <result property="modifiedAt" column="modified_at"/>
  </resultMap>

  <sql id="selectMateBoard">
    SELECT b.id id, u.name user_name , u.address_detail user_address, b.gym gym,
    b.content content, b.start_time start_time, b.end_time end_time,
    b.created_at created_at, b.modified_at modified_at
  </sql>

  <select id="findMateBoardByPage" resultMap="getMateResultMap">
    <include refid="selectMateBoard"/>
    FROM mateboard b JOIN user u ON (b.user_id = u.id)
    ORDER BY id DESC LIMIT #{index}, #{size}
  </select>

  <select id="findMateBoardById" resultMap="getMateResultMap">
    <include refid="selectMateBoard"/>
    FROM mateboard b JOIN user u ON (b.user_id = u.id)
    WHERE b.id = #{id}
  </select>

  <select id="findUserIdByMateBoardId" resultType="long">
    SELECT u.id
    FROM mateboard b JOIN user u ON (b.user_id = u.id)
    WHERE b.id = #{id}
  </select>

  <update id="updateMateBoard"
    parameterType="com.hamryt.helparty.dto.board.mateboard.request.UpdateMateBoardRequest">
    UPDATE mateboard SET
    gym = #{gym},
    content = #{content},
    start_time = #{startTime},
    end_time = #{endTime},
    modified_at = NOW()
    WHERE id = #{id}
  </update>

  <insert id="insertMateBoard" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.hamryt.helparty.dto.board.mateboard.MateBoardDTO">
    INSERT INTO mateboard (gym, content, start_time, end_time, created_at, modified_at, user_id)
    VALUES(#{gym}, #{content}, #{startTime}, #{endTime}, NOW(), NOW(), #{userId})
  </insert>

  <delete id="deleteMateBoardById">
    DELETE FROM mateboard WHERE id=#{id}
  </delete>

</mapper>