<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hamryt.helparty.mapper.healthmateboard.HealthMateBoardMapper">

  <resultMap id="healthMateBoardResultMap"
    type="com.hamryt.helparty.dto.healthmateboard.HealthMateBoardDTO">
    <id property="id" column="id" javaType="Long"/>
    <result property="content" column="content"/>
    <result property="createdAt" column="created_at"/>
    <result property="modifiedAt" column="modified_at"/>
    <association property="user" column="user_id" javaType="com.hamryt.helparty.dto.user.UserDTO"
      select="findUserByEmail"/>
  </resultMap>

  <select id="findUserByEmail" resultType="com.hamryt.helparty.dto.user.UserDTO">
    SELECT name name,
           phone_number phoneNumber,
           address_code addressCode,
           address_detail addressDetail
    FROM   user
    WHERE  email = #{userEmail}
  </select>

<!-- 이부분은 외래키를 받는 부분이 user에 중복되는 userEmail이라는 user에 있는 중복된 정보를 저장하는것이 찜찜해서 다른 방법이 있는것 같아 남겨두었습니다.-->
<!--  <resultMap id="userResultMap" type="com.hamryt.helparty.dto.user.UserDTO">-->
<!--    <id property="id" column="user_id" javaType="long"/>-->
<!--    <result property="email" column="email"/>-->
<!--    <result property="password" column="password"/>-->
<!--    <result property="name" column="name"/>-->
<!--    <result property="phoneNumber" column="phone_number"/>-->
<!--    <result property="addressCode" column="address_code"/>-->
<!--    <result property="addressDetail" column="address_detail"/>-->
<!--  </resultMap>-->

  <insert id="insertHealthMateBaord" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.hamryt.helparty.dto.healthmateboard.HealthMateBoardDTO">
    INSERT INTO healthmateboard (user_email, gym, content, start_time, end_time, created_at, modified_at, user_id)
    VALUES(#{userEmail}, #{gym}, #{content}, #{startTime}, #{endTime}, NOW(), NOW(), #{name}, #{user.id})
<!--    <selectKey resultType="Long" order="AFTER" keyProperty="id">-->
<!--      SELECT LAST_INSERT_ID() as id-->
<!--    </selectKey>-->
  </insert>

</mapper>