<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hamryt.helparty.mapper.MateBoardMapper">

  <insert id="insertMateBoard" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.hamryt.helparty.dto.mateboard.MateBoardDTO">
    INSERT INTO MATEBOARD (gym, content, start_time, end_time, created_at, modified_at, user_id)
    VALUES(#{gym}, #{content}, #{startTime}, #{endTime}, NOW(), NOW(), #{userId})
  </insert>

</mapper>